html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('../media/Warm-sky-clouds-sun-sunset_2560x1600.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    
}

.bg-backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: #00000041;
}

.weather-info {
    position: absolute;
    bottom: 18%;
    left: 11%;
    display: flex;
    align-items: center;
    color:#fafafa;
    z-index: 2;
}

.temperature, 
.location-time-container,
.city,
.time-date {
    margin-right: 10px;
}


.temperature {
    font-size: 104px;
    font-weight: 400;
}

.location-time-container {
    display: flex;
    flex-direction: column;
}
.city {
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 5px;
}

aside {
    width: 40%;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 2;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;


    background: rgba(17, 17, 20, 0.664);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(64, 63, 63, 0.32);
}

aside .container {
    width: 95%;
    color:#fff;
    display: flex;
    flex-direction: column;
}



aside .container .search-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

aside .container .search-area input {
    width: 70%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    padding-left: 0px;
    outline: none;
    color: #fafafa;
    
}

aside .container .search-area input::-webkit-input-placeholder { /* Edge */
    color: #ccc;
    font-weight: 300;
  }
  
aside .container .search-area input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
    font-weight: 300;
  }
  
aside .container .search-area input::placeholder {
    color: #ccc;
    font-weight: 300;
  }

.search-button {
width: 100px;
height: 100px;
position: relative;
top: -20%;
right: 0;
background-color: orange;
display: flex;
justify-content: center;
align-items: center;
}

.search-icon {
    color: #000;
    font-size: 36px;
}

.general-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fff;
    margin-bottom: 60px;
}

.container-item {
    color: #ccc;
    margin-bottom: 30px;
}

.general-container h3 {
    color: #fff;
}

.weather-infos {
    display: flex;
    justify-content: space-between;
}